<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto {{ projeto['nome'] }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/projects/base.css">
    <link rel="stylesheet" href="/static/css/projects/{{ projeto['id'] }}.css">
</head>

<body>
    <div class="project">
        {% block content %}

        {% endblock %}
    </div>
</body>

</html>