<footer class="footer">
    <a class="footer__link" href="https://www.linkedin.com/in/homailsonlopes/" target="_blank">
        <img class="footer__img" src="./static/img/linkedin.png" alt="LinkedIn">
    </a>
    <a class="footer__link" href="https://github.com/Homailson/" target="_blank">
        <img class="footer__img" src="./static/img/github.png" alt="GitHub">
    </a>
    <a class="footer__link" href="https://www.facebook.com/homailson.lopespassos" target="_blank">
        <img class="footer__img" src="./static/img/facebook.png" alt="Facebook">
    </a>
</footer>