<div class="shortbio">
    <p class="shortbio__text">
        <span class="shortbio__fix">Sou </span>
        <span class="shortbio__words" id="word"></span>
        <span class="shortbio__cursor" id="cursor"></span>
    </p>
</div>

<div class="selfresume">
    <p class="selfresume__text">
        Sou de Lorena, interior de São Paulo. Atuo, em regime parcial, como professor
        de Matemática. Estou no 6º período do curso de Ciências de Dados (UNINTER).
        Em 2023, concluí estágio pela UOL Compass, onde conquistei a certificação
        AWS Cloud Practitioner. Tenho me aprofundando em dados e estou iniciando projetos
        para desenvolvimento pessoal e profissional.    
        <a class="curriculum" href="https://drive.google.com/file/d/1b40j6L_nqWdXOMpMPQnX8paKKVCOgo7w/view?usp=sharing"
            target="_blank">Acesse meu currículo aqui
        </a>
    </p>    
</div>    


<div class="images" style="display: flex;">

    <div class="skills">
        <h2 class="skills__title"> Principais habilidades </h2>
        <img class="skills__img" src="/static/img/skills.png" alt="Homailson photo">        
    </div>
</div>

